# **Space X  Falcon 9 First Stage Landing Prediction**

## Package importing

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import os
import spacex

from spacex.config import INTERIM_DATA_DIR 

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

## Overview of the Dataset

SpaceX will be recognised globally for its series of historic milestones. It will be regarded as the only private company to have successfully returned a spacecraft from low-Earth orbit—a feat that was first accomplished in December 2010.

Falcon 9 rocket launches will be advertised on the SpaceX website at a cost of 62 million dollars, in contrast to other providers whose launches will be priced at over 165 million dollars. Much of these savings will be attributed to the reusability of the first stage.

Therefore, if it is determined whether the first stage will land, the overall cost of a launch will be ascertained.

This information will be utilised should an alternative company seek to bid against SpaceX for a rocket launch.

The dataset will be comprised of records for each payload that will have been carried during a SpaceX mission into outer space.

## SQL Dataset Managing

### Download the Datasets

The dataset for analysis, referred to as `data_set_part_2`, will be loaded in due course. The dataset used is the result of the previous 3 sections. It can be downloaded from the **csv** or **pickle** file.

The dataset will thereafter be stored appropriately for subsequent analysis.

In [2]:
# Load data from a pickle file into a DataFrame
pickle_file = os.path.join(INTERIM_DATA_DIR, 'dataset_part_2.pkl')

df = pd.read_pickle(pickle_file)

### Database Connection Setup

Initially, the SQL engine will be loaded and a connection to the database established. The password will be retrieved from the environment variable `PGPASSWORD` and securely stored in the variable `db_password`.

In [3]:
db_user = "postgres"
db_host = "localhost"
db_port = "5432"
# "spacex_db" is the name of a postgreSQL database already created
db_name = "spacex_db"

# Get the password securely from the environment
db_password = os.getenv("PGPASSWORD")

# Create the engine WITHOUT exposing the password
engine = create_engine(f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

print("Database connection secured!")
engine

Database connection secured!

Engine(postgresql://postgres:***@localhost:5432/spacex_db)

### Database Table Created from the csv/pickle file

This code will create a SQL table named `spacex_table` from the DataFrame `df` using the provided engine.  
If a table with the same name already exists, it will be replaced, and the DataFrame's index will be excluded from the table.

In [4]:
# Create a SQL table from the pickle DataFrame (it will be replaced if it exists)
df.to_sql('spacex_table', engine, if_exists='replace', index=False)

121

In [5]:
%load_ext sql
%sql engine

Tip: You may define configurations in C:\Users\josue\Documents\data_analysis_projects\python\spacex_project\pyproject.toml or C:\Users\josue\.jupysql\config.

Did not find user configurations in C:\Users\josue\Documents\data_analysis_projects\python\spacex_project\pyproject.toml.

## Tasks

SQL queries will be composed and executed to address the assignment tasks.

### Task 1

The names of the unique launch sites featured in the space mission will be displayed.

In [6]:
%%sql 
SELECT distinct("Launch_Site") 
FROM   spacex_table;

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

3 rows affected.

+--------------+
| Launch_Site  |
+--------------+
|  KSC LC-39A  |
| VAFB SLC-4E  |
| CCSFS SLC-40 |
+--------------+

### Task 2

Five records will be retrieved and displayed where the launch sites commence with the string 'CC%'.

In [7]:
%%sql 
SELECT * 
  FROM spacex_table 
 WHERE "Launch_Site" 
  LIKE 'CC%' 
 LIMIT 5;

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

5 rows affected.

+---------------------+------------+------------------+--------+--------------+----------+---------+------------+------------+--------------------------------------+-------------------+------------+-------+-----------------+----------------+-----------------+-------------+-------+---------+----------+-------+--------+--------------+---------------------------+---------------+-------+
|         Date        | Time (UTC) | Booster_Version  | Serial | Launch_Site  | Facility | Complex | Longitude  |  Latitude  |               Payload                |    Payload_Mass   |  Customer  | Orbit | Mission_Outcome | Launch_Outcome | Booster_Landing | Landing_Pad | Block | Flights | GridFins |  Legs | Reused | Reused_Count |          date_utc         | Flight_Number | Class |
+---------------------+------------+------------------+--------+--------------+----------+---------+------------+------------+--------------------------------------+-------------------+------------+-------+-----------------+----------------+-----------------+-------------+-------+---------+----------+-------+--------+--------------+---------------------------+---------------+-------+
| 2010-06-04 00:00:00 |  18:45:00  |     Falcon 9     | B0003  | CCSFS SLC-40 |  CCSFS   |  SLC-40 | -80.577366 | 28.5618571 | Dragon Spacecraft Qualification Unit | 6123.547647058824 |   SpaceX   |  LEO  |    None None    |    Success     |     Failure     |     None    |  1.0  |   1.0   |  false   | false | false  |     0.0      | 2010-06-04 20:45:00+02:00 |       1       |   0   |
| 2010-12-08 00:00:00 |  15:43:00  | F9 v1.07B0004.18 | Other  | CCSFS SLC-40 |  CCSFS   |  SLC-40 | -80.577366 | 28.5618571 |                Dragon                |        0.0        |    NASA    |  LEO  |     Failure     |    Success     |     Failure     |     None    |  None |   None  |   None   |  None |  None  |     None     | 2010-12-08 16:43:00+01:00 |       2       |   0   |
| 2012-05-22 00:00:00 |  07:44:00  |     Falcon 9     | B0005  | CCSFS SLC-40 |  CCSFS   |  SLC-40 | -80.577366 | 28.5618571 |                Dragon                |       525.0       | NASA(COTS) |  LEO  |    None None    |    Success     |    No attempt   |     None    |  1.0  |   1.0   |  false   | false | false  |     0.0      | 2012-05-22 09:44:00+02:00 |       3       |   0   |
| 2012-10-08 00:00:00 |  00:35:00  | F9 v1.07B0006.18 | Other  | CCSFS SLC-40 |  CCSFS   |  SLC-40 | -80.577366 | 28.5618571 |             SpaceX CRS-1             |       4700.0      |    NASA    |  LEO  |     Failure     |    Success     |    No attempt   |     None    |  None |   None  |   None   |  None |  None  |     None     | 2012-10-08 02:35:00+02:00 |       4       |   0   |
| 2013-03-01 00:00:00 |  15:10:00  |     Falcon 9     | B0007  | CCSFS SLC-40 |  CCSFS   |  SLC-40 | -80.577366 | 28.5618571 |             SpaceX CRS-2             |       677.0       | NASA (CRS) |  ISS  |    None None    |    Success     |    No attempt   |     None    |  1.0  |   1.0   |  false   | false | false  |     0.0      | 2013-03-01 20:10:00+01:00 |       5       |   0   |
+---------------------+------------+------------------+--------+--------------+----------+---------+------------+------------+--------------------------------------+-------------------+------------+-------+-----------------+----------------+-----------------+-------------+-------+---------+----------+-------+--------+--------------+---------------------------+---------------+-------+

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
%%sql 
    SELECT sum("Payload_Mass") as "Payload by NASA (CRS) [kg]"
    FROM   spacex_table 
    WHERE  "Customer" = 'NASA (CRS)';

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

1 rows affected.

+----------------------------+
| Payload by NASA (CRS) [kg] |
+----------------------------+
|          47094.7           |
+----------------------------+

### Task 4

Display average `payload mass` carried by booster version Falcon 9.

In [9]:
%%sql 
    SELECT avg("Payload_Mass") as "Avg Payload"
    FROM spacex_table 
    WHERE "Booster_Version" = 'Falcon 9';

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

1 rows affected.

+-------------------+
|    Avg Payload    |
+-------------------+
| 6130.553800396564 |
+-------------------+

### Task 5

List the `date` when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [10]:
%%sql 
    SELECT min("Date") :: date as "First Successful landing"
    FROM spacex_table 
    WHERE "Class" = 1;

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

1 rows affected.

+--------------------------+
| First Successful landing |
+--------------------------+
|        2014-04-18        |
+--------------------------+

### Task 6

List the names of the boosters which have success in `Controlled` and have payload mass greater than 4000 but less than 6000.

In [11]:
%%sql 
    SELECT  "Booster_Version", 
            "Payload_Mass" 
      FROM  spacex_table 
    WHERE   "Booster_Landing" = 'Controlled' 
            AND "Payload_Mass" BETWEEN 4000 AND 6000;

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

1 rows affected.

+-----------------+--------------+
| Booster_Version | Payload_Mass |
+-----------------+--------------+
|     Falcon 9    |    4230.0    |
+-----------------+--------------+

### Task 7

List the total number of successful and failure mission outcomes.

In [12]:
%config SqlMagic.displaylimit = 0

In [13]:
%%sql 
    SELECT  "Class",
            "Mission_Outcome",
            count("Mission_Outcome") AS "Count"
      FROM  spacex_table 
     GROUP  BY  "Class", "Mission_Outcome"
     ORDER  BY "Class" DESC, "Count" DESC;

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

10 rows affected.

+-------+-----------------+-------+
| Class | Mission_Outcome | Count |
+-------+-----------------+-------+
|   1   |    True ASDS    |   41  |
|   1   |     Success     |   25  |
|   1   |    True RTLS    |   14  |
|   1   |    True Ocean   |   5   |
|   0   |    None None    |   19  |
|   0   |     Failure     |   7   |
|   0   |    False ASDS   |   6   |
|   0   |   False Ocean   |   2   |
|   0   |    False RTLS   |   1   |
|   0   |    None ASDS    |   1   |
+-------+-----------------+-------+

In [14]:
%%sql
SELECT *
  FROM spacex_table
 WHERE "Mission_Outcome" is NULL

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

+------+------------+-----------------+--------+-------------+----------+---------+-----------+----------+---------+--------------+----------+-------+-----------------+----------------+-----------------+-------------+-------+---------+----------+------+--------+--------------+----------+---------------+-------+
| Date | Time (UTC) | Booster_Version | Serial | Launch_Site | Facility | Complex | Longitude | Latitude | Payload | Payload_Mass | Customer | Orbit | Mission_Outcome | Launch_Outcome | Booster_Landing | Landing_Pad | Block | Flights | GridFins | Legs | Reused | Reused_Count | date_utc | Flight_Number | Class |
+------+------------+-----------------+--------+-------------+----------+---------+-----------+----------+---------+--------------+----------+-------+-----------------+----------------+-----------------+-------------+-------+---------+----------+------+--------+--------------+----------+---------------+-------+
+------+------------+-----------------+--------+-------------+----------+---------+-----------+----------+---------+--------------+----------+-------+-----------------+----------------+-----------------+-------------+-------+---------+----------+------+--------+--------------+----------+---------------+-------+

### Task 8

List the   names of the booster_versions which have carried the maximum payload mass.

In [15]:
%%sql 
    SELECT  "Serial" as "Booster Version", 
            "Payload_Mass" 
      FROM  spacex_table 
     WHERE  "Payload_Mass" = (SELECT max("Payload_Mass") 
                              FROM spacex_table)
            AND "Serial" != 'Other';

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

13 rows affected.

+-----------------+--------------+
| Booster Version | Payload_Mass |
+-----------------+--------------+
|      B1048      |   15600.0    |
|      B1049      |   15600.0    |
|      B1051      |   15600.0    |
|      B1056      |   15600.0    |
|      B1048      |   15600.0    |
|      B1051      |   15600.0    |
|      B1049      |   15600.0    |
|      B1059      |   15600.0    |
|      B1049      |   15600.0    |
|      B1060      |   15600.0    |
|      B1058      |   15600.0    |
|      B1051      |   15600.0    |
|      B1060      |   15600.0    |
+-----------------+--------------+

### Task 9

List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [16]:
%%sql 
    SELECT  EXTRACT(MONTH FROM "Date") AS "Month", 
            "Booster_Landing",  
            "Serial", 
            "Launch_Site", 
            "Date" :: Date as "Date"
     FROM   spacex_table 
    WHERE   EXTRACT(YEAR FROM "Date") = 2015 
            AND  "Booster_Landing" = 'Failure' ;

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

2 rows affected.

+-------+-----------------+--------+--------------+------------+
| Month | Booster_Landing | Serial | Launch_Site  |    Date    |
+-------+-----------------+--------+--------------+------------+
|   1   |     Failure     | B1012  | CCSFS SLC-40 | 2015-01-10 |
|   4   |     Failure     | B1015  | CCSFS SLC-40 | 2015-04-14 |
+-------+-----------------+--------+--------------+------------+

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [17]:
%%sql 
    SELECT  count("Booster_Landing") as "Count", 
            "Booster_Landing" 
      FROM  spacex_table 
     WHERE  "Booster_Landing" like 'Failure%' or "Booster_Landing" like 'Success%'  and "Date"  Between '2010-06-04' and '2017-03-20' 
     GROUP  BY "Booster_Landing"  ;

Running query in 'postgresql://postgres:***@localhost:5432/spacex_db'

2 rows affected.

+-------+-----------------+
| Count | Booster_Landing |
+-------+-----------------+
|   11  |     Failure     |
|   8   |     Success     |
+-------+-----------------+

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>